@media (max-width: 1200px){
.header{
    width: 900px;
    margin-left: 20px;
}
.promo{
        &__wrapper{
            width: 900px;
        }
    }
.advantages{
        &__wrapper{
            width: 900px;
            margin-left: 20px;
        }
    }
.title{
    &_left{
        margin-left: 20px;
    }
}
.consultation{
&__descr{
    margin-left: 20px;
}
.feed-form{
    margin-left: 20px;
}
}
}
@media (max-width: 991px){

    .header{
        max-width: 700px;
        margin: 0 auto;
        
    }
   .promo{
        &__wrapper{
            width: 700px;
            margin: 0 auto;
            margin-top: 90px;
        }
    }
    .advantages{
        &__wrapper{
            width: 700px;
            margin: 0 auto;
            margin-top: 60px;
        }
    }
    .title{
        &_left{
            font-size: 30px;
        }
    }
    .consultation{
        &__descr{
            font-size: 17px;
        }
    }
    @media (max-width: 767px){
        .xs-hidden{
            
            display: none;
        }
        .header{
            width:550px;
        }
        .promo{
            &__wrapper{
                width:550px;
            }
            &__header{
                font-size: 35px;
            }
            &__subheader{
                font-size: 18px;
            }
            &__icons{
                margin-top: 35px;
            }
        }
        .button_main{
            margin-top: 25px;
        }
        .advantages{
            padding: 50px 0 50px 0;
            &__wrapper{
                width:550px;
                flex-direction: column;
                justify-content: center;
                align-items:center;
            }
            &__item{
                margin-top:27px;
            }

            
        }
        .title{
            &_left{
                font-size: 23px;
                line-height: 44px;
            }
        }
    }
    @media (max-width: 575px){
        .header{
            width:350px;
            &__logo{
                img{
                    width: 86%;
                }
            }
            &__phone{
                font-size: 15px;
            }
        }
        .promo{
            &__wrapper{
                width:350px;
            }
            &__header{
                text-align: center;
            }
            &__subheader{
                text-align: center;
            }
            &__icons{
                width: 350px;
                margin: 0 auto;
            }
            &__icon{
                margin: 0 auto;
                margin-top: 30px;
            }
            &__link{
                font-size: 13px;
            }
      
        }
        .advantages{
            padding: 50px 0 50px 0;
            &__wrapper{
                width:350px;
                margin-top: 10px;
            }
            &__subtitle{
                margin-top: 12px;
            }
            
        }
        .button{
            &_main{
                width: 227px;
                height: 43px;
                font-size: 12px;
            }
            &_submit{
                height: 43px;
            }
            }
        .title{
            font-size: 22px;
            &_left{
                display: none;

            }

        }
        .consultation{
            padding: 43px 0 52px 0;
            &__descr{
                font-size: 15px;
            }
        }
        .feed-form{
            input{
                height: 42px;
            }
        }
        
    }

}